.receivedMessage, .responseMessage{
    display: flex;
    flex-direction: row;
}

.responseMessage{
    justify-content: right;
}

.senderImg, .userImg{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
    margin-top: 15px;
}

.receivedMessageContent{
    height: 15px;
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    border-bottom-left-radius: 0;
}

.responseMessageContent{
    border-radius: 10px;
    border-bottom-right-radius: 0;
    height: 15px;
    background-color: red;
    color: white;
    padding: 12px;
}
